<html lang="en">
  <head>
    {{> head}}
    <title>Login</title>
  </head>

  <body>
    <div class="flex-column justify-space-around">
      {{> nav}}
      <main class="container container-fluid mt-5">          
        <h1>Login</h1>
        <form class="form" id="form">
          <div>
            <label for="username">Username:</label>
            <input name="username"/>
          </div>
          <div>
            <label for="password">Password:</label>
            <input name="password"/>
          </div>
          <div>
            <button id="generate" class="loginbtn">Login</button>
          </div>
          <div>Sign Up Now!</div>
        </form>
      </main>
    </div>
  </body>
</html> 