 <form class="form" id="form">
        <h1>Login</h1>
        <br></br>
        <p>
          <label for="length">UserName</label>
          <input/>
        </p>
        <p>
          <label for="length">Password:</label>
          <input/>
        </p>
        <p>
          <button id="generate" class="loginbtn">Login</button>
        </p>
        <p>Sign Up Now!</p>
 </form>