<form class="form" id="form">
  <div>
    <label for="username">Username:</label>
    <input id="username" name="username" required/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" name="email" required/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required/>
  </div>
  <input type="submit" value="Sign up">
</form>

<script defer>
  document.getElementById("form").onsubmit = function(e) {
    e.preventDefault(); // then go to home page

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const email = document.getElementById('email').value;

    if (password.length < 8) {
      alert('Your password must be at least 8 characters.');
      return;
    }

    fetch('/api/users/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          username,
          password,
          email
      })
    }).then(res => {
      const status = res.status;
      res.json().then(res => {
        if (status === 200) {
          if (res.err) {
            alert(res.err);
          }
          else {
            window.location.href = "/";
          }
        }
        else {
          alert(res.err || 'Invalid email!');
        }
      });
    });
  };
</script>

