/*Colors*/

:root {
  --bodybg: #F2F2F2;
  --headbg: #05292F;
  --navbg: #05292F;
  --btn: #CB2D6F;
  --deletebtn: #1c3334;
  --text: #333333;
}

.body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  display: flex;
}

.headbg {
  background-color: var(--headbg);
  width: 100%;
  height: 20px;
  flex-direction: row;
  margin: 20px;
}

#navbar ul {
  flex-wrap: wrap;
  flex-direction: column;
}

#navbar li {
  list-style: none;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 10px 20px;
  text-align: center;
  background-color: var(--navbg);
  display: inline;
  padding: 40px 40px 5px 40px;
  margin: 20px 20px 20px 20px;
  color: var(--bodybg);
  width: 200px; 
  height: 60px;
}

li {
  list-style: none;
  align-items: center;
  padding: 20px 20px;
  margin: 20px 20px;
}
/*header decoration*/

.jumbotron {
  text-align: center;
  background-color: var(--navbg);
  color: var(--deletebtn);
  border-radius: 0;
  border-bottom: 10px solid var(--navbg);
  flex-direction: column;
  border-style: solid; 
}

#form.holder {
  padding: 10px 10px 10px 10px;
  justify-self: right;
  background-color: var (--bodybg);
  color: var (--text);
  display: flex;
}

#show-button {
  background-color: var(--btn);
  padding: 20px 20px; 
  width: 200px; 
  height: 60px;
  border:2px solid;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: var(--bodybg)
}

.deletebtn {
  background-color: var(--deletebtn);
  padding:5px 20px;  
  border:2px solid;
  padding: 20px 20px; 
  width: 200px; 
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: var(--bodybg);
}

input[type=text] {
  padding:5px; 
  border:2px solid var (--headbg); 
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

input[type=text]:focus {
  border-color:var(--headbg);
  color: var(--text);
}

input[type=submit] {
  padding: 5px 15px; 
  background:var(--btn); 
  border:0 none;
  cursor:pointer; 
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: var(--bodybg);
  padding: 20px 20px; 
  width: 200px; 
}

input[type=text]:hover {
  background:var(--bodybg);
}

input[type=text]:active {
  background:var(--bodybg);
  color: var(--text);
}

.posts {
  list-style:circle;
  color:#333333;
  padding: 10px 0 0 20px;
  margin: 0 0 0 20px;
}

textarea {
  padding:5px; 
  border:2px solid var (--headbg); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a {
  color: var(--text);
}